<h2 class="help-section-title">使い方</h2>

キーワード検索を使ってLGTM画像を生成する方法と、画像URLからLGTM画像を生成する方法があります。

<h3 class="help-section-title">キーワード検索からLGTM画像生成をする方法</h3>

<ol>
  <li>検索欄にキーワードを入力すると画像検索結果一覧が表示されます。</li>
  <li>検索結果一覧から画像をクリックすると、その画像を元にLGTM画像が生成されます。</li>
</ol>

<h3>画像URLからLGTM画像を生成する方法</h3>

<ol>
  <li>httpまたはhttpsから始まる画像URLを検索欄に入力すると、その画像をもとにLGTM画像が生成されます。</li>
</ol>

<h2 class="help-section-title">LGTMとは</h2>

GitHubなどでプルリク（プルリクエスト/Pull Request）をレビューした時、「Looks Good To Me」
（自分がレビューした限りはよいと思います、マージしていいですよ、くらいの意味）
という言葉を略して「LGTM」と書くことがあります。
このLGTMをちょっと楽しい画像にすることで、レビューすることやプルリクを出すことがちょっと楽しくなります。<br>
<img src="https://qiita-image-store.s3.amazonaws.com/0/29024/373aad85-d1aa-96d7-026c-66b3587ae536.png" class="center">

<h2 class="help-section-title">LGTMoonとは</h2>

LGTMoonはLGTM画像をカンタンに生成・作成できるWebサイト、「LGTM画像ジェネレーター」です。
なるべくシンプルに、カンタンに、手間を掛けずLGTM画像を作ることのできるアプリです。
静止画だけでなく、GIFアニメーションなんかからもLGTM画像を生成できます。

<h2 class="help-section-title">注意点</h2>

<ul>
  <li>画像生成には数秒〜数分かかりますのでしばらくお待ち下さい。連打しないようにお願いします。</li>
  <li>生成に成功すると最近の画像一覧に画像が表示されます。</li>
  <li>画像生成に失敗する可能性もあります。しばらくたっても生成されない場合は、もう一度お試しいただくか、別の画像でお試しください。</li>
  <li>LGTM画像生成の際は、元画像の著作権などに注意してください。</li>
</ul>

<h2 class="help-section-title">リンク</h2>

<ul>
  <li>製作者twitter
    <a href="https://twitter.com/yoshiki_utakata" target="_blank">
      yoshiki_utakata
    </a>
  </li>
  <li>
    <a href="http://yoshiki-utakata.hatenablog.com/" target="_blank">製作者ブログ</a>
  </li>
  <li>Qiita記事
    <a href="http://qiita.com/yoshikyoto/items/4910b1a4bcefe7f5ab8c" target="_blank">
      LGTM画像を驚くほど簡単に作れるWebサービス with Scala
    </a>
  </li>
</ul>
