@(random: scala.util.Random = new scala.util.Random())
@random.nextInt(9) match {

  case 0 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+62I3SI+50+4YTJJL" target="_blank" rel="nofollow">
<img border="0" width="728" height="90" alt="" src="https://www27.a8.net/svt/bgt?aid=171217726367&wid=001&eno=01&mid=s00000000018030035000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2TXSFY+62I3SI+50+4YTJJL" alt="">
  }


  case 1 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+3JES8I+0K+102841" target="_blank" rel="nofollow">
<img border="0" width="600" height="120" alt="" src="https://www26.a8.net/svt/bgt?aid=171217726214&wid=001&eno=01&mid=s00000000002006057000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2TXSFY+3JES8I+0K+102841" alt="">
  }

  case 2 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+61WO6Q+3JTE+62U35" target="_blank" rel="nofollow">
<img border="0" width="728" height="90" alt="" src="https://www25.a8.net/svt/bgt?aid=171217726366&wid=001&eno=01&mid=s00000016565001021000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2TXSFY+61WO6Q+3JTE+62U35" alt="">
  }

  case 3 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXUSQ+93GFHU+2OM2+TVBF5" target="_blank" rel="nofollow">
<img border="0" width="640" height="100" alt="" src="https://www22.a8.net/svt/bgt?aid=171220778550&wid=001&eno=01&mid=s00000012521005017000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=2TXUSQ+93GFHU+2OM2+TVBF5" alt="">
  }

  case 4 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXUSQ+90H9GY+3R78+C3BAP" target="_blank" rel="nofollow">
<img border="0" width="640" height="200" alt="" src="https://www26.a8.net/svt/bgt?aid=171220778545&wid=001&eno=01&mid=s00000017522002031000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2TXUSQ+90H9GY+3R78+C3BAP" alt="">
  }

  case 5 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXUSQ+A36FSI+2BDY+I47XT" target="_blank" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www22.a8.net/svt/bgt?aid=171220778610&wid=001&eno=01&mid=s00000010807003043000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2TXUSQ+A36FSI+2BDY+I47XT" alt="">
  }

  case 6 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXUSQ+37I44Y+3SXQ+60WN5" target="_blank" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www26.a8.net/svt/bgt?aid=171220778194&wid=001&eno=01&mid=s00000017747001012000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=2TXUSQ+37I44Y+3SXQ+60WN5" alt="">
  }

  case 7 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXUSP+BPIX2Q+3UWA+60H7L" target="_blank" rel="nofollow">
<img border="0" width="728" height="90" alt="" src="https://www28.a8.net/svt/bgt?aid=171220777708&wid=001&eno=01&mid=s00000018001001010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2TXUSP+BPIX2Q+3UWA+60H7L" alt="">
  }

  case 8 => {
<iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=48&l=ur1&category=fresh&banner=045V0TBVAKG5NRDSXA82&f=ifr&linkID=ca9248bca7a568db2853b734ac0b754f&t=yoshikiutakat-22&tracking_id=yoshikiutakat-22" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  }

  case 9 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2Z893E+DLZRN6+348+1C71F5" target="_blank" rel="nofollow">
<img border="0" width="728" height="90" alt="" src="https://www28.a8.net/svt/bgt?aid=180103946823&wid=001&eno=01&mid=s00000000404008095000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2Z893E+DLZRN6+348+1C71F5" alt="">
  }

  case 10 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2Z893E+DFFZZM+50+4T1F9D" target="_blank" rel="nofollow">
<img border="0" width="728" height="90" alt="" src="https://www28.a8.net/svt/bgt?aid=180103946812&wid=001&eno=01&mid=s00000000018029064000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2Z893E+DFFZZM+50+4T1F9D" alt="">
  }

  case 11 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2Z893E+DE94S2+50+3557SX" target="_blank" rel="nofollow">
<img border="0" width="350" height="160" alt="" src="https://www20.a8.net/svt/bgt?aid=180103946810&wid=001&eno=01&mid=s00000000018019004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=2Z893E+DE94S2+50+3557SX" alt="">
  }

  case 12 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2Z893E+DDNP6A+CJY+NWJXT" target="_blank" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www24.a8.net/svt/bgt?aid=180103946809&wid=001&eno=01&mid=s00000001627004015000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=2Z893E+DDNP6A+CJY+NWJXT" alt="">
  }

  case 13 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2Z893E+DD29KI+3GRY+66OZ5" target="_blank" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www22.a8.net/svt/bgt?aid=180103946808&wid=001&eno=01&mid=s00000016171001039000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=2Z893E+DD29KI+3GRY+66OZ5" alt="">
  }

  case 14 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2Z893E+DD29KI+3GRY+6AZAP" target="_blank" rel="nofollow">
<img border="0" width="350" height="240" alt="" src="https://www24.a8.net/svt/bgt?aid=180103946808&wid=001&eno=01&mid=s00000016171001059000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2Z893E+DD29KI+3GRY+6AZAP" alt="">
  }

  case 15 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2Z893E+D6IHWY+CO4+6BMG1" target="_blank" rel="nofollow">
<img border="0" width="728" height="90" alt="" src="https://www27.a8.net/svt/bgt?aid=180103946797&wid=001&eno=01&mid=s00000001642001062000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2Z893E+D6IHWY+CO4+6BMG1" alt="">
  }

  case 16 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2Z893E+D1R12Q+2W9M+631SX" target="_blank" rel="nofollow">
<img border="0" width="728" height="90" alt="" src="https://www23.a8.net/svt/bgt?aid=180103946789&wid=001&eno=01&mid=s00000013513001022000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2Z893E+D1R12Q+2W9M+631SX" alt="">
  }

  case 17 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2Z893E+D1R12Q+2W9M+6AZAP" target="_blank" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www20.a8.net/svt/bgt?aid=180103946789&wid=001&eno=01&mid=s00000013513001059000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=2Z893E+D1R12Q+2W9M+6AZAP" alt="">
  }
}
