@(random: scala.util.Random = new scala.util.Random())
@random.nextInt(3) match {

  case 0 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+62I3SI+50+4YTJJL" target="_blank" rel="nofollow">
<img border="0" width="728" height="90" alt="" src="https://www27.a8.net/svt/bgt?aid=171217726367&wid=001&eno=01&mid=s00000000018030035000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2TXSFY+62I3SI+50+4YTJJL" alt="">
  }


  case 1 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+3JES8I+0K+102841" target="_blank" rel="nofollow">
<img border="0" width="600" height="120" alt="" src="https://www26.a8.net/svt/bgt?aid=171217726214&wid=001&eno=01&mid=s00000000002006057000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2TXSFY+3JES8I+0K+102841" alt="">
  }

  case 2 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+61WO6Q+3JTE+62U35" target="_blank" rel="nofollow">
<img border="0" width="728" height="90" alt="" src="https://www25.a8.net/svt/bgt?aid=171217726366&wid=001&eno=01&mid=s00000016565001021000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2TXSFY+61WO6Q+3JTE+62U35" alt="">
  }
}
