@(random: scala.util.Random = new scala.util.Random())
@random.nextInt(12) match {

  case 0 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+62I3SI+50+4YO6N5" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=171217726367&wid=001&eno=01&mid=s00000000018030010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=2TXSFY+62I3SI+50+4YO6N5" alt="">
  }

  case 1 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+3KLNG2+50+2HBNW1" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=171217726216&wid=001&eno=01&mid=s00000000018015003000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2TXSFY+3KLNG2+50+2HBNW1" alt="">
  }

  case 2 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+633JEA+3BZQ+5Z6WX" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=171217726368&wid=001&eno=01&mid=s00000015551001004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2TXSFY+633JEA+3BZQ+5Z6WX" alt="">
  }

  case 3 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+63OZ02+3MPA+5ZEMP" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=171217726369&wid=001&eno=01&mid=s00000016939001005000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2TXSFY+63OZ02+3MPA+5ZEMP" alt="">
  }

  case 4 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXUSQ+912P2Q+3TVC+5Z6WX" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=171220778546&wid=001&eno=01&mid=s00000017868001004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=2TXUSQ+912P2Q+3TVC+5Z6WX" alt="">
  }

  case 5 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+61B8KY+1JUK+ZQV5T" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=171217726365&wid=001&eno=01&mid=s00000007238006004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2TXSFY+61B8KY+1JUK+ZQV5T" alt="">
  }

  case 6 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+3JES8I+0K+10XINL" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=171217726214&wid=001&eno=01&mid=s00000000002006203000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=2TXSFY+3JES8I+0K+10XINL" alt="">
  }

  case 7 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXUSQ+93GFHU+2OM2+TUO9T" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=171220778550&wid=001&eno=01&mid=s00000012521005014000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2TXUSQ+93GFHU+2OM2+TUO9T" alt="">
  }

  case 8 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXUSQ+90H9GY+3R78+C2O5D" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=171220778545&wid=001&eno=01&mid=s00000017522002028000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2TXUSQ+90H9GY+3R78+C2O5D" alt="">
  }

  case 9 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXUSQ+A36FSI+2BDY+HXD0X" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=171220778610&wid=001&eno=01&mid=s00000010807003011000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=2TXUSQ+A36FSI+2BDY+HXD0X" alt="">
  }

  case 10 => {
<iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=13&l=ur1&category=fresh&banner=130PFSJDAN7NRNRP31R2&f=ifr&linkID=5502a97991a9245e02de42822f50e7c3&t=yoshikiutakat-22&tracking_id=yoshikiutakat-22" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  }

  case 11 => {
<iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=13&l=ur1&category=musicunlimited&banner=0HP981PNTDA6EW666M02&f=ifr&linkID=1a2c93e5bf8782172af7d8ee0c35a4c2&t=yoshikiutakat-22&tracking_id=yoshikiutakat-22" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  }
}
