@(random: scala.util.Random = new scala.util.Random())
@random.nextInt(4) match {

  case 0 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+62I3SI+50+4YO6N5" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=171217726367&wid=001&eno=01&mid=s00000000018030010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=2TXSFY+62I3SI+50+4YO6N5" alt="">
  }

  case 1 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+3KLNG2+50+2HBNW1" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=171217726216&wid=001&eno=01&mid=s00000000018015003000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2TXSFY+3KLNG2+50+2HBNW1" alt="">
  }

  case 2 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+633JEA+3BZQ+5Z6WX" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=171217726368&wid=001&eno=01&mid=s00000015551001004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2TXSFY+633JEA+3BZQ+5Z6WX" alt="">
  }

  case 3 => {
<a href="https://px.a8.net/svt/ejp?a8mat=2TXSFY+63OZ02+3MPA+5ZEMP" target="_blank" rel="nofollow">
<img border="0" width="468" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=171217726369&wid=001&eno=01&mid=s00000016939001005000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2TXSFY+63OZ02+3MPA+5ZEMP" alt="">
  }

  case 4 => {
<a href="https://rpx.a8.net/svt/ejp?a8mat=2TXSFY+3K07UA+2HOM+61Z81&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2F0ea62065.34400275.0ea62066.204f04c0%2Fa17121703154_2TXSFY_3K07UA_2HOM_61Z81%3Fpc%3Dhttp%253A%252F%252Fwww.rakuten.co.jp%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252F" target="_blank" rel="nofollow">
<img src="http://hbb.afl.rakuten.co.jp/hsb/0eb4bbdb.d3e5aa19.0eb4bbaa.95151395/" border="0"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=2TXSFY+3K07UA+2HOM+61Z81" alt="">
  }
}
