logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# npmでビルドされるファイル
# /public/* のように指定していると、
# !/public/a.html と書くことで a.html は git管理下にできる
/public/*

node_modules
