postgresql:
  image: postgres:10.5
  container_name: postgresql
  ports:
    - 5432:5432
  volumes:
    - ./postgres/init:/docker-entrypoint-initdb.d
  environment:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
  hostname: postgres
  restart: always
  user: postgres
