.lgtmoon-body {
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'ikafont';
    src: url(/assets/fonts/ikafont.otf);
}

/** aタグにつけることで下線を消せる */
.no-decoration {
    text-decoration: none;
}

/** LGTMoon のタイトル部分 */
.title {
    font-family: 'ikafont';
    font-size: 4em;
    color: #003;
    margin-top: 10px;
    margin-bottom: 10px;
}

/** ツイートボタン */
.twitter-button {
    position: absolute;
    left: 320px;
    top: 34px;
}

/** ヘルプのウィンドウ */
.help {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 840px;
    border: 1px solid #CCF;
    background-color: #FFF;
    z-index: 200;
    padding: 0px 10px;
}

.help-section-title {
    margin: 10px 0px;
}

/** 右上部分の広告 */
.top-amazon-ad {
    position: absolute;
    right: 0px;
    top: 10px;
}

/** footer */
.footer {
    margin-top: 18px;
    bottom: 0;
    width: 100%;
    height: 24px;
    background-color: #DEF;
    color: #003;
    text-align: center;
    position: relative;
}
.footer-text {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.8em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.top {
    background-image: url(/assets/ink/ink002.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/** 各sectionタグに付けるクラス */
.lgtmoon-section {
    width: 900px;
    position: relative;
}

/** くるくるを表示するために最小の高さを決める */
.result-section {
    min-height: 100px;
}

.form {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-keyword {
    border: 1px solid #eef;
    float: left;
    margin: 2px 0px 0px 8px;
    border-radius: 3px;
    height: 25px;
    width: 300px;
    font-size: 13px;
}

.form-block {
    position: relative;
    background-color: #def;
    padding: 10px;
}

.form-submit {
    height: 25px;
}

#message {
    margin-left: 10px;
}

/** 画像をタイル状に並べる */
.images-block {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    -o-column-count: 4;
    -ms-column-count: 4;
    -moz-column-gap: 4px;
    -webkit-column-gap: 4px;
    -o-column-gap: 4px;
    -ms-column-gap: 4px;
    box-sizing: border-box;
}

/** images-block の画像ひとつ */
.image-block {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.image-block img {
    width: 100%;
    height: auto;
}

.image-block font {
    width: 100%;
}


.text-align-center {
    text-align: center;
}

/** 画像の詳細表示 */
.modal {
    z-index: 200;
    position: fixed;
    background-color: #fff;
    border: 1px solid #eef;
    overflow: scroll;
    top: 5%;
    height: 80%;
    width: 520px;
    /* leftとrightを固定にしてmarginするとセンタリングされる */
    left: 0px;
    right: 0px;
    margin: 0px auto;
    padding: 10px 0px;
    text-align: center;
}
/** モーダル用の画面全体に広がるオーバーレイ */
.full-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
    z-index: 100;
}

/** URL, GitHub Markdown などの文字 */
.modal h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 1.2em;
}

/** 画像の周りに額縁のように境界を出す */
.gakubuchi {
    margin: 2px;
    border: 1px solid #eef;
    padding: 2px;
}

/** URL, GitHub Markdown などのテキストエリア */
.modal input {
    width: 450px;
}

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
}

/** センタリングのためにローディングのくるくろの横幅を指定する */
.loader {
    margin: 0px auto;
    width: 100px;
    height: 100px;
}
