@(message: String)

@views.html.layouts.default("Welcome to Play") {
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/dropzone.css")">
<script src="@routes.Assets.versioned("javascripts/dropzone.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/postimage.js")" type="text.javascript"></script>
} {
<section>
  <h2>アップロード</h2>
  <div class="dropzone-block">
    <form action="/images" class="dropzone" id="filedropzone"></form>
  </div>
</section>
<section>
  <h2>画像一覧</h2>
</section>

}
