<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="TmM6P7-RkI0TQ-XWY8BH1pTYQ8tdNogmDuidMi4zHGg" />
    <meta name="description" content="世界で最もシンプルなLGTM画像ジェネレーター" />
    <meta name="Keywords" content="LGTM,画像,作成,生成,ジェネレーター,Look,Good,To,Me" />
    <title>LGTMoon - 最もシンプルなLGTM画像ジェネレーター</title>
    <script type="text/javascript" src="/assets/scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/vue.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/main.js"></script>
    <link rel="stylesheet" href="/assets/styles/main.css" type="text/css" />
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </head>
  <body class="lgtmoon-body">
    <section class="lgtmoon-section center top">
      <a href="/" class="no-decoration">
        <h1 class="title">LGTMoon</h1>
      </a>
      <div class="twitter-button">
        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-hashtags="LGTMoon">Tweet</a>
      </div>
      <div class="form-block">
        <form id="lgtmform"
              class="form">
          <input type="text"
                 name="keyword"
                 class="form-keyword"
                 placeholder="キーワードで画像検索/URLで直接生成 【例】ラブライブ"/>
          <span id="message">
            Enterキーで検索/生成
          </span>
        </form>
      </div>
    </section>
    
    <section class="lgtmoon-section center result-section hidden">
      <h2>検索結果</h2>
      <div id="search-results" class="images-block">
        <div v-repeat="items" class="image-block">
          <img src="{{url}}" v-on="click : post">
        </div>
      </div>
      <div class="overlay hidden">
        <div class="loader">
          <img src="/assets/ajax-loader.gif">
        </div>
      </div>
    </section>
    
    <section class="lgtmoon-section center recent-section">
      <h2>最近生成された画像</h2>
      <div id="images" class="images-block">
        <div v-repeat="items" class="image-block">
          <img src="{{url}}" v-on="click : detail">
        </div>
      </div>
      <!-- モーダル -->
      <div id="detail">
        <div class="full-overlay hidden" v-on="click : close"></div>
        <div class="image-detail modal center hidden">
          <a href="{{url}}">
            <img src="{{url}}" class="gakubuchi">
          </a>
          <h3>Image URL</h3>
          <input type="text" value="{{url}}"/>
          <h3>GitHub Markdown</h3>
          <input type="text" value="![LGTM]({{url}})" />
        </div>
      </div>
    </section>

    <section class="lgtmoon-section center text-align-center">
      <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fyoshikiutakat-22%2F8009%2Fc744702c-f7a8-4275-8a59-cde9c468b0bf&Operation=GetScriptTemplate"></SCRIPT>
      <NOSCRIPT><A rel="nofollow" HREF="http://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fyoshikiutakat-22%2F8009%2Fc744702c-f7a8-4275-8a59-cde9c468b0bf&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>
    </section>
    
    <section class="lgtmoon-section center">
      <footer class="footer">
        <div class="footer-text">
          Powered by
          <a href="https://twitter.com/yoshiki_utakata" target="_blank">yoshiki_utakata</a>,
          Source Code is published on
          <a href="https://github.com/yoshikyoto/lgtmoon" target="_blank">GitHub</a>.
        </div>
      </footer>
    </section>
  </body>
</html>
