<html>
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-1397126788553577",
      enable_page_level_ads: true
      });
    </script>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="TmM6P7-RkI0TQ-XWY8BH1pTYQ8tdNogmDuidMi4zHGg" />
    <meta name="description" content="世界で最もシンプルなLGTM画像ジェネレーター" />
    <meta name="Keywords" content="LGTM,画像,作成,生成,ジェネレーター,Look,Good,To,Me,Web,アプリ,サイト,git,github,プルリク,プルリクエスト,pull,request,コード,レビュー,git,jpg,png,url,検索,アニメ,アニメーション,chrome" />
    <title>LGTMoon - 最もシンプルなLGTM画像ジェネレーター</title>
    <script type="text/javascript" src="/assets/scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/vue.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/main.js"></script>
    <link rel="stylesheet" href="/assets/styles/main.css" type="text/css" />
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </head>
  <body class="lgtmoon-body">
    <section class="lgtmoon-section center top">
      <a href="/" class="no-decoration">
        <h1 class="title">LGTMoon</h1>
      </a>
      <div class="top-amazon-ad">
        <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?f=ifr&t=yoshikiutakat-22&o=9&p=13&l=bn1&mode=dvd-jp&browse=562020&fc1=000000&lt1=_blank&lc1=A43907&bg1=EFEFCC" marginwidth="0" marginheight="0" width="468" height="60" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
      </div>
      <div class="twitter-button">
        <a href="https://twitter.com/share" class="twitter-share-button"{count} data-hashtags="LGTMoon">Tweet</a>
      </div>
      <div class="form-block">
        <form id="lgtmform"
              class="form">
          <input type="text"
                 name="keyword"
                 class="form-keyword"
                 placeholder="キーワードで画像検索/URLで直接生成 【例】ラブライブ"/>
          <button type="submit" class="form-submit">
            検索/画像生成
          </button>
          <span id="message"></span>
          <!-- <span class="help-button">ヘルプ</span> -->
        </form>
        <div class="help hidden">
          <h2 class="help-section-title">使い方</h2>
          キーワード検索を使ってLGTM画像を生成する方法と、画像URLからLGTM画像を生成する方法があります。
          <h3 class="help-section-title">キーワード検索からLGTM画像生成をする方法</h3>
          <ol>
            <li>検索欄にキーワードを入力すると画像検索結果一覧が表示されます。</li>
            <li>検索結果一覧から画像をクリックすると、その画像を元にLGTM画像が生成されます。</li>
          </ol>

          <h3>画像URLからLGTM画像を生成する方法</h3>
          <ol>
            <li>httpまたはhttpsから始まる画像URLを検索欄に入力すると、その画像をもとにLGTM画像が生成されます。</li>
          </ol>

          <h2 class="help-section-title">LGTMoonとは</h2>
          GitHubなどでプルリク（プルリクエスト/Pull Request）をレビューした時、「Looks Good To Me」
          （自分がレビューした限りはよいと思います、マージしていいですよ、くらいの意味）
          という意味で「LGTM」と書くことがあります。
          このLGTMをちょっと楽しい画像にすることで、レビューすることやプルリクを出すことがちょっと楽しくなります。<br>
          <img src="https://qiita-image-store.s3.amazonaws.com/0/29024/373aad85-d1aa-96d7-026c-66b3587ae536.png" class="center">
          LGTMoonはLGTM画像をカンタンに生成・作成できるWebサイト、「LGTM画像ジェネレーター」です。
          なるべくシンプルに、カンタンに、手間を掛けずLGTM画像を作ることのできるアプリです。
          静止画だけでなく、GIFアニメーションなんかからもLGTM画像を生成できます。

          <h2 class="help-section-title">注意点</h2>
          <ul>
            <li>画像生成には数秒〜数分かかりますのでしばらくお待ち下さい。</li>
            <li>生成に成功すると最近の画像一覧に画像が表示されます。</li>
            <li>画像生成に失敗する可能性もあります。しばらくたっても生成されない場合は、もう一度お試しいただくか、別の画像でお試しください。</li>
            <li>LGTM画像生成の際は、元画像の著作権などに注意してください。</li>
          </ul>
          <h2 class="help-section-title">リンク</h2>
          <ul>
            <li>製作者twitter
              <a href="https://twitter.com/yoshiki_utakata" target="_blank">
                yoshiki_utakata
              </a>
            </li>
            <li>Qiita記事
              <a href="http://qiita.com/yoshikyoto/items/4910b1a4bcefe7f5ab8c" target="_blank">
                LGTM画像を驚くほど簡単に作れるWebサービス with Scala
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <section class="lgtmoon-section center result-section hidden">
      <h2>検索結果</h2>
      <div id="search-results" class="images-block">
        <div v-repeat="items" class="image-block">
          <img src="{{url}}" v-on="click : post">
        </div>
      </div>
      <div class="overlay hidden">
        <div class="loader">
          <img src="/assets/ajax-loader.gif">
        </div>
      </div>
    </section>

    <section class="lgtmoon-section center recent-section">
      <h2>最近生成された画像</h2>
      <div id="images" class="images-block">
        <div v-repeat="items" class="image-block">
          <img src="{{url}}" v-on="click : detail">
        </div>
      </div>
      <!-- モーダル -->
      <div id="detail">
        <div class="full-overlay hidden" v-on="click : close"></div>
        <div class="image-detail modal center hidden">
          <a href="{{url}}">
            <img src="{{url}}" class="gakubuchi">
          </a>
          <h3>Image URL</h3>
          <input type="text" value="{{url}}"/>
          <h3>GitHub Markdown</h3>
          <input type="text" value="![LGTM]({{url}})" />
        </div>
      </div>
    </section>

    <section class="lgtmoon-section center text-align-center">
      <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?f=ifr&t=yoshikiutakat-22&o=9&p=48&l=bn1&mode=videogames-jp&browse=637394&fc1=000000&lt1=_top&lc1=A43907&bg1=EFEFCC" marginwidth="0" marginheight="0" width="728" height="90" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
    </section>

    <section class="lgtmoon-section center">
      <footer class="footer">
        <div class="footer-text">
          Powered by
          <a href="https://twitter.com/yoshiki_utakata" target="_blank">yoshiki_utakata</a>,
          Source Code is published on
          <a href="https://github.com/yoshikyoto/lgtmoon" target="_blank">GitHub</a>.
        </div>
      </footer>
    </section>
  </body>
</html>
