@(paypalPayButtonUrl: String)

<html>
  <head>
  </head>
  <body>
    <div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
    <script src="@paypalPayButtonUrl" data-sdk-integration-source="button-factory">
    </script>
    <script>
    function initPayPalButton() {
      paypal.Buttons({
        style: {
          shape: 'rect',
          color: 'blue',
          layout: 'vertical',
          label: 'pay',

        },

        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{"description":"LGTMoonに寄付","amount":{"currency_code":"JPY","value":330,"breakdown":{"item_total":{"currency_code":"JPY","value":300},"shipping":{"currency_code":"JPY","value":0},"tax_total":{"currency_code":"JPY","value":30}}}}]
          });
        },

        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            console.log(details);
            location.href = '/paypal/approve?orderId=' + details.id
          });
        },

        onError: function(err) {
          console.log(err);
        }
      }).render('#paypal-button-container');
    }
    initPayPalButton();
  </script>
  </body>
</html>
